head
	title basic

body
	h1.text-center CLNDR
	br

	+calendar


template(name="calendar")
	div.calendar.container
		div.row
			div.col-xs-7
				p.text-center {{format_date CLNDR.find.christmas.current_month}}

		div.row
			div.col-sm-1
				p.text-center S
			div.col-sm-1
				p.text-center M
			div.col-sm-1
				p.text-center T
			div.col-sm-1
				p.text-center W
			div.col-sm-1
				p.text-center T
			div.col-sm-1
				p.text-center F
			div.col-sm-1
				p.text-center S

		div.clearfix
		div.row
			each CLNDR.dates "christmas"
				div.col-sm-1.CLNDR_days
					if previous_month
						p.text-center.text-muted {{day}}

					if next_month
						p.text-center.text-muted {{day}}

					if current_month
						p.text-center.text-danger {{day}}
				if indent
					div.clearfix

			div.row
				div.col-xs-2
					button.btn.btn-block.btn-primary.CLNDR_previous(clndr="christmas") Previous
				div.col-xs-3
					button.btn.btn-block.btn-primary.CLNDR_today(clndr="christmas") Today
				div.col-xs-2
					button.btn.btn-block.btn-primary.CLNDR_next(clndr="christmas") Next

